<div class="d-flex justify-content-between bg-success text-white p-3">
  <div style="cursor: pointer" routerLink="/">HashedIn</div>
  <div class="dropdown">
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Menu
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" routerLink="/product-add">Add product</a>
      </li>
      <li><a class="dropdown-item" routerLink="/profile">My profile</a></li>
      <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</div>
<router-outlet />
